<md-card>
  <md-card-header>
    <md-card-title style="font-size: 30px">建立報名表單</md-card-title>
  </md-card-header>
  <md-card-content>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
      <!--表單主選項-->
      <table cellspacing="0" style="width:100%; margin-bottom:2%">
        <tr>
          <td>
            <md-input-container style="width:100%">
              <input mdInput name="title" placeholder="表單標題" [(ngModel)]="MetaFormDes['title']" required>
            </md-input-container>
          </td>

        </tr>
        <tr>
          <td>
            <md-input-container style="width:100%">
              <textarea mdInput placeholder="表單內容" style="width:100%" required [(ngModel)]="MetaFormDes['content']" name="content">
                </textarea>
            </md-input-container>
          </td>
        </tr>
      </table>
      <div *ngIf="showform">
        <div *ngFor="let item of MetaformDataArray ; let i=index">

          <md-divider style="margin-bottom:5%">
            <div class="button-row">
              表單相關選項{{i+1}}
              <button md-mini-fab type="button" style="background:yellow" (click)="onAddFormOptions(i)"><md-icon style="color:black">add</md-icon></button>
              <button md-mini-fab type="button" (click)="onRemoveFormOptions(i)"><md-icon>remove</md-icon></button>
            </div>
          </md-divider>

          <md-select placeholder="表單選項" style="width:100%" [(ngModel)]="MetaFormDes['FormOptions'][i]['FormOptionType']" [name]="'FormOptionType'+i">
            <md-option [value]="null" selected="selected"></md-option>
            <md-option *ngFor="let m of item.FormOptions ;let a =index" [value]="m.value">
              {{ m.name }} {{m.value}}
            </md-option>
          </md-select>

          <table cellspacing="0" style="width:100%; margin-bottom:5%">
            <tr>
              <td>
                <md-input-container style="width:100%">
                  <input mdInput placeholder="選項名稱" type="text" [(ngModel)]="MetaFormDes['FormOptions'][i]['FormOptionName']" [name]="'FormOptionName'+i">
                </md-input-container>
              </td>
            </tr>
            <tr>
              <td>
                是否一定要輸入值：
                <md-radio-group [(ngModel)]="MetaFormDes['FormOptions'][i]['Required']" [name]="'Required'+i">
                  <md-radio-button [value]=[required.value] *ngFor="let required of item.Required">{{required.name}}
                  </md-radio-button>
                </md-radio-group>
              </td>
            </tr>
          </table>
          <div *ngIf="MetaFormDes['FormOptions'][i]['FormOptionType']=='input'">
            <md-select placeholder="輸入選項類型" style="width:100%" [(ngModel)]="MetaFormDes['FormOptions'][i]['InputType']" [name]="'InputType'+i">
              <md-option [value]="null" selected="selected"></md-option>
              <md-option *ngFor="let m of item.InputTypes ;let a =index" [value]="m.value">
                {{ m.name }} {{m.value}}
              </md-option>
            </md-select>
          </div>

          <div *ngIf="MetaFormDes['FormOptions'][i]['FormOptionType']=='select'">
            是否為複選：
                <md-radio-group [(ngModel)]="MetaFormDes['FormOptions'][i]['isMultiSelect']" [name]="'isMultiSelect'+i">
                  <md-radio-button [value]=[ismultiselect.value] *ngFor="let ismultiselect of item.isMultiSelect">{{ismultiselect.name}}
                  </md-radio-button>
                </md-radio-group>
          </div>
        </div>
      </div>
      data:{{f["value"]|json}}
      <md-card-actions>
        <button md-button type="submit" style="    background: yellow;" [disabled]="f['invalid']">送出</button>
      </md-card-actions>
    </form>
  </md-card-content>

</md-card>
MetaFormDes:{{MetaFormDes|json}}
