<div *ngFor="let item of menudata ">
  <md-list-item (click)="onClick(item.Entity)">
     <md-icon md-list-icon>{{item.Entity.Icon}}</md-icon>

   <div *ngIf="item.Entity.CCID==null">

<div [innerHTML]="ReturnTab(item.Depth)+ item.Entity.Text"> </div>
   </div>
    <div *ngIf="item.Entity.CCID!=null">
      <a [routerLink]="['/home']">
       <div [innerHTML]="ReturnTab(item.Depth)+ item.Entity.Text"
       ></div>
      </a>

   </div>

  </md-list-item>
  <div *ngIf="item.ChildNodes.length!=0">
    <div *ngIf="item.Entity.Selected">
      <app-nestednav [menudata]="item.ChildNodes"></app-nestednav>
    </div>
  </div>
</div>
