<md-card>
  <md-card-header>
    <md-card-title style="font-size: 30px">建立報名表單</md-card-title>

    <md-slide-toggle (change)="isPreviewForm($event)">開啟表單預覽</md-slide-toggle>

  </md-card-header>
  <div *ngIf="showform">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-card-content>
        <!--表單主選項-->
        <table cellspacing="0" style="width:100%; margin-bottom:2%">
          <tr>
            <td>
              <md-input-container style="width:100%">
                <input mdInput placeholder="表單名稱" formControlName="title" type="text">

              </md-input-container>
              <div *ngIf="form['controls']['title'].touched&& form['controls']['title'].errors">
                <md-list>
                  <md-list-item>*需輸入值</md-list-item>
                </md-list>
              </div>
            </td>
          </tr>
        </table>
        <!--表單相關輸入選項-->
        <div formArrayName="formoptions">
          <div *ngFor="let md of MetaformDataArray;let i=index">
            <md-divider style="margin-bottom:5%">表單相關選項</md-divider>
            <div [formGroupName]="i">
              <md-select placeholder="表單選項" formControlName="formoption" (change)="onChange(i)" style="width:100%">
                <md-option [value]="null" selected="selected"></md-option>
                <md-option *ngFor="let m of md" [value]="m[0].value">
                  {{ m[0].name }}
                </md-option>
              </md-select>

              <div *ngIf="form['controls']['formoptions']['controls'][i]['controls']['formoption'].touched
              && form['controls']['formoptions']['controls'][i]['controls']['formoption'].errors">
                <md-list>
                  <md-list-item>*需輸入值</md-list-item>
                  <md-list-item></md-list-item>
                </md-list>
              </div>
              <div *ngIf="form['controls']['formoptions']['controls'][i]['controls']['formoption'].value">
                <table cellspacing="0" style="width:100%; margin-bottom:5%">
                  <tr>
                    <td>
                      <md-input-container style="width:100%">
                        <input mdInput placeholder="輸入選項名稱" type="text" formControlName="formoptionName">
                      </md-input-container>
                      <div *ngIf="form['controls']['formoptions']['controls'][i]['controls']['formoptionName'].touched
                      && form['controls']['formoptions']['controls'][i]['controls']['formoptionName'].errors">


                        <md-list>
                          <md-list-item>*需輸入值</md-list-item>
                          <md-list-item></md-list-item>
                        </md-list>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>

                      <!-->選單類型</!-->
                      <div formGroupName="formoptionSetting" md-line>

                        <!--只出現在輸入選項-->
                        <div *ngIf="form['controls']['formoptions']['controls'][i]['controls']['formoption'].value=='input'">
                          <md-select placeholder="輸入選項類型" select-clear formControlName="InputType" style="width:100%">
                            <md-option [value]="null" selected="selected "></md-option>
                            <md-option *ngFor="let mdt of md[0][0].types" [value]="mdt.value">
                              {{ mdt.name }}
                            </md-option>
                          </md-select>

                          <md-list>


                            <md-list-item>
                              是否為多行輸入
                              <md-radio-group formControlName="isMultiLine">
                                <md-radio-button value="Y">是</md-radio-button>
                                <md-radio-button value="N">否</md-radio-button>
                              </md-radio-group>
                            </md-list-item>

                          </md-list>





                        </div>


                        <md-list-item>是否一定要輸入值
                          <md-radio-group formControlName="isRequiredInput">
                            <md-radio-button value="Y">是</md-radio-button>
                            <md-radio-button value="N">否</md-radio-button>
                          </md-radio-group>
                        </md-list-item>
                        <div *ngIf="form['controls']['formoptions']['controls'][i]['controls']['formoption'].value!='input'">


                          <div *ngIf="form['controls']['formoptions']['controls'][i]['controls']['formoption'].value=='select'">
                            <md-radio-group formControlName="isMultiSelect">
                              <span>是否為多行輸入</span>
                              <md-radio-button value="Y">是</md-radio-button>
                              <md-radio-button value="N">否</md-radio-button>
                            </md-radio-group>
                          </div>

                          <div formArrayName="Options">
                            <div *ngFor="let o of this.form['controls']['formoptions']['controls'][i]['controls']['formoptionSetting']['controls']['Options']['controls']; let a=index">
                              <!-- <button type="button" md-mini-fab (click)="onAddOptionsData(i)" md-line>
                              <md-icon>add</md-icon>
                            </button >-->
                              <md-input-container style="width:100%">
                                <input mdInput placeholder="選項資料" [formControlName]="a" type="text" md-line>
                              </md-input-container>

                              <div class="button-row">

                                <button md-raised-button (click)="onAddOptionsData(i,a)">
                                <md-icon>add</md-icon>
                              </button>


                                <button md-raised-button (click)="onRemoveOptionsData(i,a)">
                                  <md-icon>remove</md-icon>
                                  </button>

                              </div>

                            </div>
                          </div>
                        </div>
                      </div>




                    </td>
                  </tr>
                </table>
              </div>
              <md-divider style="margin-bottom:5%"></md-divider>

            </div>



          </div>
        </div>

      </md-card-content>
      <md-card-actions>

        <button md-button type="button" (click)="onAdd()" [disabled]="form.invalid">增加選項</button>
        <button md-button type="submit" style="    background: yellow;" [disabled]="form.invalid">送出</button>
      </md-card-actions>
    </form>
    <pre>{{form.value|json}}</pre>
    <pre>{{OptionsArray}}</pre>
  </div>
</md-card>
         <md-divider style="margin-bottom:5%"></md-divider>
<md-card *ngIf="this.ShowPreviewForm">
  <md-card-header>
    <md-card-title>{{form.value.title}}(表單預覽)</md-card-title>
  </md-card-header>
  <md-card-content>
    <form></form>
    {{this.form.value|json}}
  </md-card-content>
</md-card>
