<md-card>
  <md-card-header>
    <md-card-title style="font-size: 30px">建立報名表單</md-card-title>
    <md-slide-toggle>開啟表單預覽</md-slide-toggle>
  </md-card-header>
  <div *ngIf="showform">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-card-content>
        <!--表單主選項-->
        <table cellspacing="0" style="width:100%; margin-bottom:5%">
          <tr>
            <td>
              <md-input-container style="width:100%">
                <input mdInput placeholder="表單名稱" formControlName="title" type="text">

              </md-input-container>
              <div *ngIf="form['controls']['title'].touched&& form['controls']['title'].errors">
                <span>*需輸入值</span>
              </div>
            </td>
          </tr>
        </table>
        <!--表單相關輸入選項-->
        <div formArrayName="formoptions">
          <div *ngFor="let md of MetaformDataArray;let i=index">
            <md-select placeholder="表單選項" [formControlName]="i" select-clear  >
              <md-option [value]="null" selected="selected"></md-option>
              <md-option *ngFor="let m of md" [value]="m[0].value">
                {{ m[0].name }}
              </md-option>
            </md-select>
                   {{ form['controls']['formoptions']['controls'][i].value|json }}
            <div *ngIf="form['controls']['formoptions']['controls'][i].touched&& form['controls']['formoptions']['controls'][i].errors">
                <span>*需輸入值</span>
              </div>
            <md-divider style="margin-bottom:5%"></md-divider>
          </div>
        </div>
        <!--
  -->
      </md-card-content>
      <md-card-actions>

        <button md-button type="button" (click)="onAdd()" [disabled]="form.invalid">增加選項</button>
        <button md-button type="submit" style="    background: yellow;" [disabled]="form.invalid">送出</button>
      </md-card-actions>
    </form>
    <pre>{{form.value|json}}</pre>
  </div>
</md-card>
