
<md-toolbar color="primary" class="md-medium-tall" style="position:fixed; width: 100%;">
     <md-icon (click)="showside(sidenav)">menu</md-icon>
   <span>My  App</span>
     </md-toolbar>

<md-sidenav-container    fullscreen style="top: 64px !important" >

   <!--<md-toolbar color="primary">
   <md-icon (click)="showside(sidenav)">menu</md-icon>
   <span>My  App</span>

     </md-toolbar>-->


  <md-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <md-list dense>
      <div *ngIf="ShowMenu">
        <app-nestednav [menudata]="menudata" ></app-nestednav>
      </div>
    </md-list>
  </md-sidenav>

 <div class="app-container">
    <router-outlet></router-outlet>
 </div>
</md-sidenav-container>

