
<md-sidenav-container    fullscreen>
   <md-toolbar color="primary">My App</md-toolbar>
  <md-sidenav #sidenav class="example-sidenav" mode="side" opened="true">
    <md-list dense>
      <div *ngIf="ShowMenu">
        <app-nestednav [menudata]="menudata" ></app-nestednav>
      </div>
    </md-list>
  </md-sidenav>

  <div>

    <button md-button color="primary" (click)="showside(sidenav)">
      Close/Show menu
    </button>

  </div>

<router-outlet></router-outlet>

</md-sidenav-container>

