<!--<md-toolbar color="primary" class="md-medium-tall" style="position:fixed; width: 100%;">
     <md-icon (click)="showside(sidenav)">menu</md-icon>
   <span>My  App</span>

   style="top: 64px !important"
     </md-toolbar>-->

<md-sidenav-container fullscreen>
  <md-toolbar color="primary">
    <button  md-button type="button" (click)="showside(sidenav)">
      <md-icon>menu</md-icon>
    </button>
    <span>8D PlatForm</span>
  </md-toolbar>
  <md-sidenav #sidenav class="example-sidenav" mode="side" [opened]="!AutoHideMenu">
    <md-list dense>
      <md-list-item>
        <a md-button [routerLink]="['/formmetaformlist']" md-line>報名表單管理</a>
      </md-list-item>

      <div *ngIf="ShowMenu">
        <app-nestednav [menudata]="menudata" [sidenav]="sidenav"></app-nestednav>
      </div>
    </md-list>
  </md-sidenav>

  <div class="app-container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
